.vscode
.idea/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Environment variables - ignore all .env files
.env
/frontend.bak/

# Docker volumes data
# 忽略docker/volumes下的所有内容，但保留.gitkeep文件以维持目录结构
docker/volumes/*
!docker/volumes/.gitkeep
