# Backend Application Environment Configuration

# Environment: local, staging, production
ENVIRONMENT=local

# Project configuration
PROJECT_NAME="Full Stack FastAPI Project"

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5173
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Backend security and authentication
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.upbrosai.com"
# Security
## 在Linux/macOS，使用 /dev/urandom生成: `head -c 32 /dev/urandom | xxd -p -c 32`
SECRET_KEY=4992eb137963abb7c22a4a35b745aae9f5f8a226b773cf3a7c17778df9ae59c0
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# Email
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Database
# For local development use localhost, for Docker use 'db'
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# Monitoring
SENTRY_DSN=

# PyCharm Debug Configuration (for development)
PYCHARM_DEBUG_ENABLED=false
PYCHARM_DEBUG_PORT=8087
PYCHARM_DEBUG_HOST=localhost